.navbar {
  letter-spacing: 1px;

  a {
    color: #dccaff !important;
  }

  .dropdown-menu {
    background-color: #151118 !important;
    border-color: #dccaff;
  }

  .avatar-photo {
    height: 32px;
    border-radius: 100%;
  }
}
