$languages: (
  html:           #fc7126,
  css:            #006fc3,
  javascript:     #ffee56,
  typescript:     #0077cc,
  php:            #a3aaff,
  vue:            #42b883,
  swift:          #ff941d,
  python:         #ffcd00,
  lua:            #6445ee,
  c:              #3b97ff,
  c-plus-plus:    #3b97ff,
  c-sharp:        #a66edf,
  shell:          #48ff00,
  go:             #2abdB1,
  ocaml:          #E6362F,
);

@each $lang, $color in $languages {
  .lang-#{$lang} {
    color: $color !important;
    border-color: $color !important;
  }
}

body .repo-language {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 5px;
  border: 1px solid $c-lavender;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 300;
}
