.clusterbar {
  header.sidebar-header {
    .btn-close {}
  }

  .lone-star {
    .description {
      display: none;
    }
  }

  .star-cluster {
    outline: 0;
    background-color: transparentize($c-lavender, 0.95);
    border: 1px dotted transparentize($c-lavender, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  .form-control {
    padding-left: 5px;
  }
}
