$c-lavender: #dccaff; /* ☕️ */
$c-lavender-mid: #aa9bcc;
$c-plum: #151118;

$theme-colors: (
  primary: $c-lavender,
  secondary: $c-lavender-mid,
  dark:    $c-plum,
);


$border-color: $c-lavender-mid;
$input-bg: transparent;
$input-color: $c-lavender;
$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-placeholder-color: $c-lavender;
$input-font-weight: 300;
$tooltip-color: $c-plum;
$tooltip-bg: $c-lavender;
